---
http_interactions:
- request:
    method: get
    uri: http://www.kickstarter.com/projects/remag/re-magazine
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"6910d25a460977c20631da3e83ecc105"'
    body:
      encoding: US-ASCII
      string: ! "<!DOCTYPE html>\n<html class=\"projects_show no-js fontface \" lang=\"en\"
        xml:lang=\"en\" xmlns:fb=\"http://www.facebook.com/2008/fbml\" xmlns=\"http://www.w3.org/1999/xhtml\">\n<head><script
        type=\"text/javascript\">var NREUMQ=NREUMQ||[];NREUMQ.push([\"mark\",\"firstbyte\",new
        Date().getTime()]);</script><title>Re: Magazine by Re: Magazine (deleted)
        &mdash; Kickstarter</title><!--[if lt IE 9]>\n  <script src=\"//html5shim.googlecode.com/svn/trunk/html5.js\"
        type=\"text/javascript\"></script>\n<![endif]-->\n\n\n<meta content=\"text/html;
        charset=utf-8\" http-equiv=\"Content-Type\">\n<meta content=\"telephone=no\"
        name=\"format-detection\">\n<link href=\"//d297h9he240fqh.cloudfront.net/cache-1b9b4efff/fonts/fonts.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\">\n<!--[if !IE]> -->\n
        \ <link href=\"//d297h9he240fqh.cloudfront.net/cache-1b9b4efff/assets/base.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\" />\n<!-- <![endif]-->\n<!--[if
        IE]>\n  <link href=\"//d297h9he240fqh.cloudfront.net/cache-1b9b4efff/stylesheets/blessed.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/cs[...]
